
{% extends "home/base.html" %}
{% load static %}
{% block title %}Create Account {% endblock %}

{% block content %}

            <div class="container-fluid">
               
                <!-- Row -->
                <div class="row">
                    
                   <!-- <div class="text-center"><img src="{% static 'assets/img/tum-logo.jpg' %}" alt="Avatar" class="avatar" 
                    style="width: 140px;height: 100px; margin-top: 20px; margin-bottom: 20px;"><br> </div> -->
                   <h1 style="text-align: center;margin-top: 50px;">Login</h1>
                   <span style="font-size: 15px; text-align: center;"><a href="/create-account/">Don't have an account? create here</a></span> 
                    <span style="color: red; font-weight:bold;">{{msg1}}</span>
                    {% for message in messages %}
                    <span style="color: red; font-weight:bold;">{{message}}</span>
                    {% endfor %}
                </div>
                    <!-- Column -->
                    <!-- Column -->
                    <div class="row">
                    <div class="col-lg-12 col-xlg-12 col-md-12">
                        <div class="card">
                            <div class="card-body">                               
                                <form class="form-horizontal form-material mx-2" action="" method="POST">
                                {% csrf_token %}
                                
                                <div class="row">
                                    
                                    
                                <div class="row">                            
                                    <div class="col-md-12 form-group">
                                        <label for="example-email" class="">Email <span class="text-danger">*</span></label>
                                        <div class="">
                                            <input type="email" name ="email" value=""
                                                class="form-control ps-0 form-control-line"
                                                id="example-email" required>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12 form-group">
                                        <label class="mb-0">Password <span class="text-danger">*</span></label>
                                        <div class="">
                                            <input type="password" name = "password" value=""
                                                class="form-control ps-0 form-control-line" required>
                                        </div>
                                    </div>                            
                                </div>                                

                                    
                                    <div class="form-group row">
                                        <div class="col-6 d-flex">                                            
                                            <button type="submit" style="background-color: rgb(131, 10, 10);"
                                             class="btn mx-auto mx-md-0 text-white">Login</button>                                       
                                                                                        
                                        </div>
                                        <div class="col-6 d-flex">                                         
                                        
                                             <span type="button"
                                             class="btn mx-auto mx-md-0 text-white bg-success"><a class="text-white" href="/">Cancel</a></span>                                                                                        
                                        </div>
                                    </div>
                                
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Column -->
                </div>
              
            </div>
            <footer class="footer text-center">
                © 2023 Banking portal<hr>
                
            </footer>
                    
{% endblock %}
