body{
  background:url("../img/bible1.jpeg") center center no-repeat;
  width: 100%;
  height: 92vh;  
  background-size: 100% 100%;
  position: relative;
  margin-top: 70px;
  padding: 0;
}
.tum-color{
  color:rgb(102, 5, 5);
}
/* Full-width input fields */
input[type=email], input[type=password], input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-radius: 15px;
}

/* Set a style for all buttons */
button {
  background-color: rgb(102, 5, 5);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  border-radius: 15px;
}

button:hover {
  opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
  position: relative;
}

img.avatar {
  max-width: 300px;
  border-radius: 50%;
}
.avatar {
  width: 200px;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modol {
  /* Hidden by default */
  position: relative; /* Stay in place */
  z-index: 9999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* background-color: rgb(0,0,0); /* Fallback color */
  /* background-color: rgba(0,0,0,0.4); Black w/ opacity */ 
  padding-top: 0px;
}

/* Modal Content/Box */
.modal-content1 {
  background-color: #fefefe;
  margin: 20px auto auto auto; /* 5% from the top, 15% from the bottom and centered */
  border: 2px solid #888;
  max-width: 480px; /* Could be more or less, depending on screen size */
  border-radius: 20px;
}
@media screen and (max-width: 750px) {
  .modal-content1 {
    max-width: 390px;
  }
}
@media screen and (max-width: 450px) {
  .modal-content1 {
    max-width: 90%;
  }
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s 
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}